.kladr-error {
    color: #cb3e27
}

#kladr_autocomplete ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 200px;
    max-height: 420px;
    color: #313131
}

#kladr_autocomplete li {
    display: list-item;
    list-style-type: none;
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#kladr_autocomplete li + li {
    border-top: 1px solid #ededed
}

#kladr_autocomplete li:hover {
    background-color: #f2f2f2;
    cursor: pointer
}

#kladr_autocomplete li.active {
    background-color: #e9e9e9
}

#kladr_autocomplete a {
    text-decoration: none
}

#kladr_autocomplete strong {
    color: #038ebd
}

#kladr_autocomplete .spinner {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url("./images/spinner.png") center center no-repeat;
    z-index: 9999
}