
html, body {
    overflow-x: hidden;
}

body {
    /*background: rgba(0, 0, 0, 0) url("/img/fon.png") repeat-x scroll 0 0;*/
}

footer {
    padding: 30px 0;
}
.container{
    /*background: rgba(255,255,255,0.3);*/
}
header {
    margin: 20px 0;
}

.callMe {
    text-align: right;
}

.logo img {
    max-width: 100%;
}

.navbar-toggle {
    float: none;
}

.navbar-header {
    text-align: center;
}

.modelName {
    position: absolute;
    right: 85px;
    top: 30px;
}
.topInfo {
    font-size: 18pt;
}
.block1 .label{
    padding: 10px 0;
}
@media all and (max-width: 1200px) {
    .topInfo {
        font-size: 10pt;
    }
}

@media all and (max-width: 767px) {
    footer .btn {
        margin-top: 10px;
    }

    header .btn {
        min-width: 100%;
    }

    .navbar div {
        cursor: pointer;
        min-width: 100%;
    }

    .navbar-header {
        border: 1px solid #006699;
        color: #006699;
        font-size: 15pt;
    }

    footer {
        text-align: center;
    }

    .mainNews .img {
        text-align: center;
    }

    header {
        text-align: center;
    }

    header .row:first-child {
        margin: 10px 0;
    }

    header .row {
        margin: 0 0 10px;
    }

    .callMe {
        text-align: center;
    }

    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
        z-index: 100;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }

    .row-offcanvas-right.active {
        right: 50%;
    }

    .row-offcanvas-left.active {
        left: 50%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}

.navbar-iveco {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.mainButtons .btn {
    margin-bottom: 10px;
    min-width: 100%;
}

.allNewsLink {
    margin-bottom: 10px;
}

.mainAuto .caption {
    text-align: center;
}

@media all and (min-width: 767px) {
    .mainAuto .thumbnail {
        height: 390px;
    }
}

.hideBut {
    min-width: 100%;
}

.hideBut .btn {
    margin-top: -5px;
    min-width: 100%;
}

.mainLineup {
    text-align: center;
}

.navbar-header {
}

.carousel img {
    height: 297px !important;
}

.list-group h3 {
    margin-top: 3px !important;
}

.block1 {
    font-size: 16pt !important;
}

.reiting {
    color: gold;
}

.ad {
    margin: 10px 0;
}

.tab-pane {
    padding-top: 20px;
}
.notButton{
    cursor: pointer;
    background: #aaa;
    color: #fff;
}
.notBody {
    background: #aaa none repeat scroll 0 0;
    color: #fff;
    margin-right: 15px;
    padding: 10px;
    position: absolute;
    z-index: 10;
}